extends parts/_layout.pug

block content

  section
  
    p Very cool weight calculator thingy at https://codepen.io/team/CodePenTemplates/project/editor/DepngA/
  
block scripts

  script(src="https://npmcdn.com/react@15.3.0/dist/react.min.js")
  script(src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js")
  script(src="js/weights.processed.js")