<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Braille Alphabet w/  VueJs</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="./style.css">

  
</head>

<body>

  

<div id="app">
  <h1>ALPHABETS</h1>
  <div class="alphabets letters">
    <div class="alphabet-item" v-for = "(letter, indexLetter) in json" v-if="letter.type == 'letter'">
      <div class="alphabets-signals" >
        <i class="signal"  v-for = "(signal, indexSignal) in letter.signal" v-bind:class="{ shine: letter.signal[indexSignal] == 1 }"> <span>{{ letter.signal[indexSignal] }}</span></i>
      </div>
      <div class="alphabet">
        {{ letter.character }}
      </div>
    </div>
  </div>
  
  <h1>NUMBERS</h1>
  <div class="alphabets numbers">
    
    <div class="alphabet-item" v-for = "(number, indexNumber) in json" v-if="number.type == 'number'">
      <div class="alphabets-signals" >
        <i class="signal"  v-for = "(signal, indexSignal) in number.signal" v-bind:class="{ shine: number.signal[indexSignal] == 1 }"> <span>{{ number.signal[indexSignal] }}</span></i>
      </div>
      <div class="alphabet">
        {{ number.character }}
      </div>
    </div>
  </div>
  
  
  <h1>SPECIALS</h1>
  <div class="alphabets specials">
    <div class="alphabet-item" v-for = "(special, indexLetter) in json" v-if="special.type == 'specials'">
      <div class="alphabets-signals" >
        <i class="signal"  v-for = "(signal, indexSignal) in special.signal" v-bind:class="{ shine: special.signal[indexSignal] == 1 }"> <span>{{ special.signal[indexSignal] }}</span></i>
      </div>
      <div class="alphabet">
        {{ special.character }}
      </div>
    </div>
  </div>
  
</div>
  <script src='http://unpkg.com/vue'></script>

  

    <script  src="./script.js"></script>




</body>

</html>
