@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  display: block;
  margin: 30px auto;
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  letter-spacing: 20px;
}

body {
  font-family: 'Josefin Slab', serif;
  background: white;
  color: #3f3f3f;
  font-size: 24px;
}

#app {
  margin: 40px auto;
  width: 80%;
}

.alphabets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.alphabets .alphabet-item {
  text-align: center;
  margin: 30px;
  width: calc(20% - 120px );
  padding: 30px;
  box-shadow: inset -12px -8px 40px #d3d3d3;
  border-radius: 6px;
  transition: all 300ms ease;
  transform: scale(1);
  cursor: default;
}
.alphabets .alphabet-item:hover {
  box-shadow: inset -9px -7px 30px #d3d3d3;
  transform: scale(1.07);
  transition: all 600ms ease;
}
.alphabets .alphabet-item .alphabet {
  font-size: 2.6em;
  font-weight: 400;
  color: #3f3f3f;
  margin-top: 20px;
  text-align: center;
}
.alphabets .alphabets-signals {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.alphabets .alphabets-signals .signal {
  width: 50%;
}
.alphabets .alphabets-signals .signal.shine:before {
  background: #3f3f3f;
}
.alphabets .alphabets-signals .signal span {
  display: none;
}
.alphabets .alphabets-signals .signal:before {
  display: block;
  content: " ";
  width: 18px;
  height: 18px;
  background: #e6e6e6;
  margin: 10px auto;
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  .alphabet-item {
    width: calc( 30% - 120px ) !important;
  }
}
@media only screen and (max-width: 840px) {
  .alphabet-item {
    width: calc( 40% - 120px ) !important;
  }

  h1 {
    font-size: 1em;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 640px) {
  .alphabet-item {
    width: calc( 50% ) !important;
  }
}
