#wrap
 .field
 %form.signup
  %input.email{:type => "email", :placeholder => "email", :maxlength => "25"}/
  .btnwrap
   -6.times do
    .spark
   .btn
    .inner
     -12.times do
      .hive
   %input{:type => "submit", :value => "Subscribe"}/
