h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 7px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}