.loader
    .loader_line
    .loader_icon
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_loader.png'}
.main
    %section.main_left
        .main_left__logo
            %a
                %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_logo.png'}
        .main_left__poem
            %h1
            %p
            %i
            .buttons
                .buttons_share.tw
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_share.png'}
                    %img.alt{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_share_white.png'}
                    %span Tweet this
                        
                %a{:href => 'http://www.google.com', :target => '_blank'}
                    .buttons_poet
                        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_about.png'}
                        %img.alt{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_about_white.png'}
                        %span About poet
        .main_left__footer
            %p 
                Created for the #CodepenChallenge by 
                %a{:href => 'https://www.codepen.io/jcoulterdesign', :target => '_blank'} Jamie Coulter
    %section.main_center
        .main_center__button.reset
            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_play.png'}
            .tooltip
                Replay
        .main_center__pips
        .main_center__stage.lighthouse
        
            -## =======================================
            -## Lighthouse scene
            -## =======================================
            
            .lighthouse
                .stars
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_stars.png'}
                .hills
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_hills.png'}
                .storm
                .moon
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_moon.png'}
                .rain
                    %canvas#rain
                .lighthouse
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_lighthouse.png'}
                .light
                .cloud_two
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_cloud_two.png'}
                .rock
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_rock.png'}
                .cloud_one
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_cloud_one.png'}
                .boat
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_boat.png'}    
                .sea_back
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_sea_back.png'}
                .sea_mid
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_sea_mid.png'}
                .sea_front
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_sea_front.png'}
            
            -## =======================================
            -## Fall scene
            -## =======================================
            
            .fall
                .hills
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_hills.png'}
                .birds
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_birds.png'}
                .sun
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_sun.png'}
                .light
                .cloud_left 
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_cloud_left.png'}
                .cloud_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_cloud_right.png'}
                .ground_back
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_ground_back.png'}
                .ground_mid
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_ground_mid.png'}
                .ground_front
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_ground_front.png'}
                .tree_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_tree_right.png'}
                .tree_left
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_tree_left.png'}
                .leaf_one
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_leaf.png'}
                .leaf_two
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_leaf.png'}
                .leaf_three
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_leaf.png'}
                .leaf_four
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_leaf.png'}
                .leaf_five
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_leaf.png'}
                    
            -## =======================================
            -## Sing scene
            -## =======================================
            
            .sing
                .stars
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_stars.png'}
                .moon
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_lighthouse_moon.png'}
                .storm
                .city
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_city.png'}
                .rain
                    %canvas#rain_sing
                .singer
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_singer.png'}
                .buildings
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_buildings.png'}
                .hill_back
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_hill_back.png'}
                .hill_front
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_hill_front.png'}
                .grass
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_grass.png'}
                .note_four
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_note.png'}
                .note_three
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_note.png'}
                .note_two
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_note.png'}
                .note_one
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sing_note.png'}
                    
            -## =======================================
            -## hope scene
            -## =======================================
            
            .hope
                .glow
                .sun
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_sun.png'}
                .cloud
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_cloud_left.png'}
                .hill_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_hill_right.png'}
                .hill_left
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_hill_left.png'}
                .cloud_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_cloud_left.png'}
                .cloud_left
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_fall_cloud_right.png'}
                .house
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_house.png'}
                .gound_back
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_ground_back.png'}
                .ground_front
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_ground_front.png'}
                .dove_wing_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_wing_right.png'}
                .dove_wing_left
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_wing_left.png'}
                .dove
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_dove.png'}
                .tree
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_tree.png'}
                .flowers
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_hope_flowers.png'}
                    
            -## =======================================
            -## Moon scene
            -## =======================================
            
            .moon
                .stars
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_stars.png'}
                .moon
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_moon.png'}
                .cloud_left
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_cloud_left.png'}
                .hills
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_hills.png'}
                .cloud_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_cloud_right.png'}
                .smoke_three
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_smoke.png'}
                .smoke_two
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_smoke.png'}
                .smoke_one
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_smoke.png'}
                .house
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_house.png'}
                .ground_back
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_ground_back.png'}
                .ground_front
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_ground_front.png'}
                .tree_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_tree_right.png'}
                .tree_left
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_moon_tree_left.png'}
                    
            -## =======================================
            -## Space scene
            -## =======================================
            
            .space
                .stars
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_stars.png'}
                .sun
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_sun.png'}
                .asteroids
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_asteroids.png'}
                .planet_left
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_planet_left.png'}
                .cloud_left
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_cloud_left.png'}
                .cloud_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_cloud_right.png'}
                .rocket
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_rocket.png'}
                .planet_right
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_planet_right.png'}
                .moon
                    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_space_moon.png'}
            
        .overlay
    %section.main_right
        .main_right__audio
            %img.on{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sound.png'}
            %img.off{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_sound_off.png'}
        .main_right__controls
            .back.button
                .tooltip
                    Previous
                %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_arrow.png'}
            .random.button
                .tooltip
                    Random
                %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_random.png'}
            .next.button
                .tooltip
                    Next
                %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/poem_arrow.png'}       
%canvas.grain