@import url("https://fonts.googleapis.com/css?family=VT323");
* {
  box-sizing: border-box;
  font-family: "VT323", monospace;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.game .canvas-holder {
  height: 600px;
  width: 600px;
  overflow: hidden;
  border: 5px solid #777;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background: black;
}

.extra-screen {
  position: absolute;
  width: 600px;
  height: 600px;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra-screen.hide {
  display: none;
}
.extra-screen .content-hold {
  flex: 1;
}
.extra-screen h1 {
  margin-top: -40px;
  color: lime;
  font-size: 45pt;
  text-shadow: 0px 0px 15px lime;
  width: 100%;
  float: left;
  text-align: center;
  margin: 10px 0px;
}
.extra-screen p {
  width: 100%;
  float: left;
  text-align: center;
  color: lime;
  font-size: 15pt;
  margin: 10px 0px;
  text-shadow: 0px 0px 15px lime;
}
