  body{
    background: #e3e3e3;
    margin: 0;
    overflow: hidden;
    text-align: center;
    margin-top: 1%;
  }

  canvas{
    display: inline-block;
    border: 1px #181818 solid;
    background: #ACACAC;
  }