.container.q
  .detail.d0.q
  .detail.d1.q
  .detail.d2.q
  .detail.d3.q
  .detail.d4.q
  .detail.d5.q
  .detail.d6.q
  .detail.d7.q
  .detail.d8.q
  .detail.d9.q
  .detail.d10.q
  .detail.d11.q
  .detail.d12.q
  .detail.d13.q
  .detail.d14.q
  .detail.d15.q
  .detail.d16.q
  .detail.d17.q
  .centre.q
  .nameTag.q Ada Lovelace
  .head
    .neck.q
    .hairBack.q
      .hairBackPiece.hbp6.q
      .hairBackPiece.hbp5.q
      .hairBackPiece.hbp4.q
      .hairBackPiece.hbp3.q
      .hairBackPiece.hbp2.q
      .hairBackPiece.hbp1.q
      .hairBackPiece.hbp0.q
    .headBase.q
      .highlight.hl1.q
      .highlight.hl2.q
      .highlight.hl3.q
      .highlight.hl4.q
      .rosyCheeks.r1.q
      .rosyCheeks.r2.q
      .eye.eye1.q
        .eyelash.el1.q
        .eyelash.el2.q
      .eye.eye2.q
        .eyelash.el3.q
        .eyelash.el4.q
      .eyebrow.eb1.q
      .eyebrow.eb2.q
      .nose.q
      .mouth.q
        .bl.q
        .up1.q
        .up2.q
    .hairTop.q
      .hairBand.h2.q
      .hairBand.h1.q
    .hairFront.q
      .hairFrontPiece.hfp7.q
      .hairFrontPiece.hfp6.q
      .hairFrontPiece.hfp5.q
      .hairFrontPiece.hfp4.q
      .hairFrontPiece.hfp3.q
      .hairFrontPiece.hfp2.q
      .hairFrontPiece.hfp1.q
    .flower.q
      .largePetal.lp0.q
      .largePetal.lp1.q
      .largePetal.lp2.q
      .largePetal.lp3.q
      .largePetal.lp4.q
      .largePetal.lp5.q
      .shadow.q
      .smallPetal.lp0.q
      .smallPetal.lp1.q
      .smallPetal.lp2.q
      .smallPetal.lp3.q
      .smallPetal.lp4.q
      .smallPetal.lp5.q
      .centre.q