html, body {
    font: 100% "Lato", sans-serif;
    font-weight: 300;
    height: 100%;
    background-color: #4D4545;
    background: radial-gradient(circle at 50% 50%, #0a1e1f, #522222);
    font-size: 18px;
  }

  h2{
  color: cornflowerblue;
  font-weight: 700;
  text-shadow: 1px 1px 1px #afcce8, 1px 1px 1px #cde2f9;
  }
  h3{
      color: #ad5cc1;
  }

  h5{
  color: #ad5cc1;
  font-weight: 700;
  }

  p{
  color: silver;
  text-align: justify;
  }

  .blue-bg {
    color: #c3ff31;
    height: 100%;
  }

  .circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #8dede4;
    color: #4D4545;
    max-height: 50px;
    z-index: 2;
  }

  .how-it-works.row {
    display: flex;
  }
  .how-it-works.row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #0062cc;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }

  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #0062cc;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #0062cc;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }

  .timeline .bottom-right-primeiro {
    left: 50%;
    top: -50%;
  }

  .timeline .bottom-right {
    left: calc(50% - 3px);
    top: -50%;
  }
  .timeline .right-top {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .bottom-left {
    left: -50%;
    top: -50%;
  }
  .timeline .left-top-primeiro {
    left: calc(50% - 3px);
    top: calc(50% - 3px);
  }
  .timeline .left-top {
    left: calc(50% - 3px);
    top: calc(50% - 3px);
  }
  .timeline .left-last {
    left: 50%;
    top: calc(50% - 3px);
  }
  .timeline .right-last {
      left: calc(-50% + 3px);
    top: calc(50% - 3px);
  }

  .linkModal{
    color: chartreuse;
    }	
        
    .bmd-modalButton {
      /*
      display: block;
      margin: 15px auto;
      padding: 5px 15px;
      */
      cursor: pointer;
    }
    
    .close-button {
      overflow: hidden;
    }
    
    .bmd-modalContent {
      box-shadow: none;
      background-color: transparent;
      border: 0;
    }
      
    .bmd-modalContent .close {
      font-size: 30px;
      line-height: 30px;
      padding: 7px 4px 7px 13px;
      text-shadow: none;
      opacity: 0.7;
      color:#fff;
    }
    
    .bmd-modalContent .close span {
      display: block;
    }
    
    .bmd-modalContent .close:hover,
    .bmd-modalContent .close:focus {
      opacity: 0.5;
      outline: none;
    }
    
    .bmd-modalContent iframe {
      display: block;
      margin: 0 auto;
    }
    
    .modal{
    width: auto;
    margin: auto;
    background-color: black;
    }
    
    .modal.fade.in {
        top: 1%;
    }