h1 {
  position: absolute;
  left: 200px;
  font-family: verdana;
  color: black;
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
  width: 400px;
  opacity: 0.7;
  box-shadow: 2px 2px 4px gray;
  text-shadow: 1.5px 1.5px 1px gray;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 800px;
  height: 600px;
}

#krToEn {
  
  position: absolute;
  top: 190px;
  left: 310px;
  width: 100px;
  height: 40px;
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  font-family: verdana;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#enToKr {
  position: absolute;
  top: 190px;
  left: 200px;
  width: 100px;
  height: 40px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#showEN {  
  position: absolute;
  z-index: 1;
  top: 320px;
  left: 20px;
  width: 160px;
  height: 50px;
  background-color: lightblue;
  font-family: verdana;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#showKR {  
  position: absolute;
  z-index: 1;
  top: 400px;
  left: 20px;
  width: 160px;
  height: 50px;
  background-color: lightblue;
  font-family: verdana;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
  z-index: -1;
}

#nextCard {
  position: absolute;
  top: 190px;
  left: 480px;
  width: 120px;
  height: 50px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#fruits {
  position: absolute;
  top: 220px;
  left: 650px;
  width: 90px;
  height: 30px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#colors {
  position: absolute;
  top: 260px;
  left: 650px;
  width: 90px;
  height: 30px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#verbs {
  position: absolute;
  top: 300px;
  left: 650px;
  width: 90px;
  height: 30px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#adjectives {
  position: absolute;
  top: 340px;
  left: 650px;
  width: 90px;
  height: 30px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#places {
  position: absolute;
  top: 380px;
  left: 650px;
  width: 90px;
  height: 30px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#sports {
  position: absolute;
  top: 420px;
  left: 650px;
  width: 90px;
  height: 30px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#jobs {
  position: absolute;
  top: 460px;
  left: 650px;
  width: 90px;
  height: 30px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

#family {
  position: absolute;
  top: 500px;
  left: 650px;
  width: 90px;
  height: 30px;
  background-color: lightgray;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

.flashcard {
  position: absolute;
  top: 250px;
  left: 200px;
  width: 400px;
  height: 250px;
  z-index: 0;
}

.english {
  position: absolute;
  top: 295px;
  left: 200px;
  width: 400px;
  z-index: -1;
  font-family: verdana;
  color: green;
  font-size: 50px;
  font-weight: bold;
  margin: 0px 0px;
  text-align: center;
}

.korean {
  position: absolute;
  top: 390px;
  left: 200px;
  width: 400px;
  font-family: verdana;
  color: purple;
  font-size: 50px;
  font-weight: bold;
  margin: 0px 0px;
  text-align: center; 
}

/*.userAns {
  position: absolute;
  top: 510px;
  left: 0px;
  width: 800px;
  text-align: center;
  
}*/