HTML, BODY {
  height: 100%;
}

BODY {
  max-width: 820px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: #000;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  flex-basis: 40%;
  max-width: 400px;
  max-height: 225px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
}