body {
  font-family: "Shadows Into Light", cursive;
  font-size: 120%;
  letter-spacing: 1px;
}

header.title {
  text-align: center;
}

section.diagram {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 40px;
  padding: 40px;
  border: 4px solid black;
  border-radius: 16px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  margin: 40px;
  background-color: #ccffcc;
  background-clip: padding-box;
}
section.diagram header {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 30px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: #ccccff;
}

div.content {
  background-color: #ffd4a3;
}

main {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 30px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
  float: left;
  width: 57.5%;
  background-color: #ccffcc;
}
main header {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: #ccccff;
}

article {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: #ccffcc;
}
article h1 {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #ccccff;
}
article p {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #ccccff;
}

div.gutter {
  box-sizing: border-box;
  float: left;
  width: 5%;
}

aside {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 30px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: #ccffcc;
  float: left;
  width: 37.5%;
}
aside .content {
  padding-bottom: 200px;
}
aside p {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: #ccccff;
}

footer {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 30px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: #ccccff;
  clear: both;
}

p.tag {
  margin: 0;
  padding: 0 10px 0 10px;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: -1em;
  left: 0.5em;
  background-color: white;
  text-transform: uppercase;
  border-radius: 6px;
}

section.key {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 40px;
  padding: 40px;
  border: 4px solid black;
  border-radius: 16px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 40px;
  padding: 0;
}
section.key .table {
  display: table;
  border-spacing: 40px;
}
section.key .row {
  display: table-row;
}
section.key .cell {
  display: table-cell;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 30px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
  box-shadow: none;
}
section.key .cell:first-of-type {
  background-color: #ffd4a3;
  border: 0;
}
section.key .cell:nth-of-type(3) {
  background-color: #ccffcc;
  border: 0;
}
section.key .cell:nth-of-type(4) {
  background-color: #ccccff;
  border: 0;
}