html, body {
  background: #000;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align:center;
  touch-action: none;
  width: 100%;
}

.button {
  background: #222;
  border: 3px solid #DDD;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 20px 50px;
  outline: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.button:hover {
  border-color: #FFF;
  background: #333;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}