*{
  font-family: Montserrat;
}
.interp-block{
  width: 600px;
  height: 100px;
  margin: 60px auto 20px auto;
  background: none;
  transition: background 0.1s linear;
  border: 10px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
#log{
  width: 600px;
  margin: 0px auto 20px auto;
  color: #555;
}