@keyframes down{
	0%{
		transform: translateY(-500%);
	}
	100%{
		transform: translateY(0%);
	}
}

@keyframes show{
	0%{
		color: rgba(255,255,255,0);
	}
	100%{
		color: rgba(255,255,255,1);
	}
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  color: white;
}

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 5vh auto;
}


.pyramid {
  float: left;
  width: 500px;
  height: 500px;
  font-family: 'Gabriela';
  shape-outside: polygon(310px 0, 130px 405px, 558px 405px);
  padding-right: 60px;
}

.zone {
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
  background-blend-mode: lighten;
  cursor: pointer;
  color: #222;
  animation: down 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  transform: translateY(-500%);
  transition: background-color 0.5s;
}
.zone:hover{
	color: white;
	text-shadow: 1px 1px 2px #000;
}

/* All images from pexels.com */
.zone:nth-child(1) {
  background: rgba(202, 197, 94, 0.7) url("../images/candy.jpg");
  background-size: cover;
  width: 25%;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 100%, 0% 100%);
  
  animation-delay: 2s;
}

.zone:nth-child(1):hover {
  background-color: rgba(202, 197, 94, 0.2);
}

.zone:nth-child(2) {
  background: rgba(252, 172, 106, 0.7) url("../images/323149_original.png");
  background-size: cover;
  width: 50%;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
  clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
  
  animation-delay: 1.5s;
}

.zone:nth-child(2):hover {
  background-color: rgba(252, 172, 106, 0.2);
}


.zone:nth-child(3) {
  background: rgba(130, 140, 125, 0.7) url("../images/tea.jpg");
  background-size: cover;
  width: 75%;
  -webkit-clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0 100%);
  clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0 100%);
  
  animation-delay: 1s;
}
.zone:nth-child(3):hover {
  background-color: rgba(130, 140, 125, 0.2);
}

.zone:nth-child(4) {
  background: rgba(103, 176, 118, 0.7) url("../images/apples.jpg");
  background-size: cover;
  width: 100%;
  -webkit-clip-path: polygon(12.5% 0, 87.5% 0, 100% 100%, 0 100%);
  clip-path: polygon(12.5% 0, 87.5% 0, 100% 100%, 0 100%);
  
  animation-delay: 0.5s;
}
.zone:nth-child(4):hover {
  background-color: rgba(103, 176, 118, 0.2);
}

h1, p{
	color: rgba(255,255,255,0);
	animation: show 0.5s forwards;
}

h1 {
  font-family: 'Gabriela';
  animation-delay: 2.5s;
}
p{
	padding-top: 1em;
}
p:nth-of-type(1){
	animation-delay: 3s;
}
p:nth-of-type(2){
	animation-delay: 3.4s;
}
p:nth-of-type(3){
	animation-delay: 3.8s;
}
p:nth-of-type(4){
	animation-delay: 4.2s;
}

@supports not (shape-outside: polygon(310px 0, 130px 405px, 558px 405px)) {
	p{
		position: relative;
		float: right;
	}
	p:nth-of-type(1){
		width: 540px;
		left: -170px;
	}
	p:nth-of-type(2){
		width: 520px;
		left: -140px;
	}
	p:nth-of-type(3){
		width: 500px;
		left: -110px;
	}
	p:nth-of-type(4){
		width: 480px;
		left: -90px;
	}
}

		.zone:nth-child(1){
		  -webkit-clip-path: url("#part1");
		  clip-path: url("#part1");
		      }

		.zone:nth-child(2){
		  -webkit-clip-path: url("#part2");
		  clip-path: url("#part2");
		      }

		.zone:nth-child(3){
		  -webkit-clip-path: url("#part3");
		  clip-path: url("#part3");
		      }

		.zone:nth-child(4){
		  -webkit-clip-path: url("#part4");
		  clip-path: url("#part4");
		      }