svg(xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none")
  include ../icons/icon-logo.svg
  include ../icons/icon-weight.svg
  include ../icons/icon-rings.svg
  include ../icons/icon-jumprope.svg
  include ../icons/icon-kettlebell.svg