nav.main-nav
  ul
    li
      a(href="index.html") Home
      svg
        use(xlink:href="#icon-logo")
    li
      a(href="signup.html") Sign Up
      svg
        use(xlink:href="#icon-logo")
    li
      a(href="weights.html") Plate Calculator