h2.h1.special-header.special-header-inline 
  span Weekly
  | Schedule

.table-wrap
  table.schedule
    thead
      tr
        th Monday
        th Tuesday
        th Wednesday
        th Thursday
        th Friday
        th Saturday
        th Sunday
    tbody
      tr
        td 5:30 AM
        td 5:30 AM
        td 5:30 AM
        td 5:30 AM
        td 5:30 AM
        td(rowspan="4") 9:00 AM
        td(rowspan="4") None
      tr
        td 10:00 AM
        td 10:00 AM
        td 10:00 AM
        td 10:00 AM
        td 10:00 AM
      tr
        td 4:30 PM
        td 4:30 PM
        td 4:30 PM
        td 4:30 PM
        td 4:30 PM
      tr
        td 6:30 PM
        td 6:30 PM
        td 6:30 PM
        td 6:30 PM
        td 6:30 PM