%img.m{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/pixelTest.png'}
.floor
.overlay

.options
    .options_sf
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/sfIcon.png'}
    .options_bg
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/bgIcon.png'}
.name_modal
    .pixelsTop
    .pixelsBottom
    .intro_modal__header
        %p Welcome
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/featuredHeader.png'}
    %h3 Enter your name, developer
    %hr
    
    %input{:type => 'text', :placeholder => 'Your Name'}
    .next
        .pixelsTop
        .pixelsBottom
        Next
    
.intro_modal
    .pixelsTop
    .pixelsBottom
    .intro_modal__header
        %p Welcome
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/featuredHeader.png'}
    %h3 Welcome to codepen simulator
    %hr
   

    %p.text Your aim is to see how many followers you can get in 1 year!

    %p.text Create pens by simply typing randomly. The pen will gain stats in html, css, js and design based on your skill level. Use your followers to unlock research which improves your skills!

    %p.text If good enough, your pens will be featured and boost your views.
    .go
        .pixelsTop
        .pixelsBottom
        Let's go
.endGame
    .pixelsTop
    .pixelsBottom
    .endGame__header
        %p Finished
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/featuredHeader.png'}
    %h3 Congratulations! You've done 1 year on Codepen!
    %hr
    %h2 You managed to get 
    %h1 100000
    %p Followers
    %a{:href => 'http://www.codepen.io/jcoulterdesign', :target => '_blank'}
        .restart
            .pixelsTop
            .pixelsBottom
            See more cool stuff
    .share
        .pixelsTop
        .pixelsBottom
        Share on twitter
.researchProgress
    %h2 Researching...
    .bar
        .bar_inner
    .pixelsTop
    .pixelsBottom
.featured_modal
    .pixelsTop
    .pixelsBottom
    .featured_modal__header
        %p Featured
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/featuredHeader.png'}
    %h3 Your pen has been picked!
    %hr
    .featured_modal__image
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/cPreview.png'}
    .featured_modal__text
        %p 
            your pen ' 
            %span.name example pen 
            '
        %p has been picked by 
        %p.picker 
        %p that should help boost your views!
    .awesome
        .pixelsTop
        .pixelsBottom
        awesome
.research_modal
    .research_modal__header
        %p research
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/researchHeader.png'}
    %h3.hide Improve your skills
    %hr.hide
    .close.hide 
        .pixelsTop
        .pixelsBottom
        x
    .pixelsTop
    .pixelsBottom
    .research_modal__list.hide
.complete_modal
    .pixelsTop
    .pixelsBottom
    .complete_modal__header
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/penCompleteHeader.png'}
        %p pen complete
    %div.hide
        %img
        %h2 You completed a pen!
        %hr
        %h3 lets see how you did
    .complete_modal__stats.hide
        .html
            %h4 html
            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gHtml.png'}
            %span
                .swatch.html
                %span 103
        .css
            %h4 css
            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gCSS.png'}
            %span
                .swatch.css
                %span 103
        .js
            %h4 js
            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gJS.png'}
            %span
                .swatch.js
                %span 103
        .design
            %h4 Design
            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gDesign.png'}
            %span
                .swatch.design
                %span 103
    .scrap.hide
        .pixelsTop
        .pixelsBottom
        scrap pen
        %img.icon{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/scrapCross.png'}
    .release.hide
        .pixelsTop
        .pixelsBottom
        release pen
        %img.icon{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/releaseArrow.png'}
.pen
    .pixelsTop
    .pixelsBottom
    %h2 progress:
    .date
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gCalendar.png'}
        %span
    
    .followers
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/followersIcon.png'}
        .pixelsTop
        .pixelsBottom
        FOLLOWERS:
        %span 0
    .pen_bar
        .pen_bar_progress
    .pen_html
        .pixelsTop
        .pixelsBottom
        .swatch
        %span HTML
        .sep
        %span.val 0
    .pen_css
        .pixelsTop
        .pixelsBottom
        .swatch
        %span CSS
        .sep
        %span.val 0
    .pen_js
        .pixelsTop
        .pixelsBottom
        .swatch
        %span JS
        .sep
        %span.val 0
    .pen_design
        .pixelsTop
        .pixelsBottom
        .swatch
        %span DESIGN
        .sep
        %span.val 0

.releasedHeader
    .pixelsTop
    .pixelsBottom
    %img.icon{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/codepenIcon.png'}
    Released Pens
    %img.arrow{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/downArrow.png'}
.releasedEmpty
    .pixelsTop
    .pixelsBottom
    %h2 You haven't released any pens yet
.released

.username
    .pixelsTop
    .pixelsBottom
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/userIcon.png'}
    %h2 Developer
.mystats
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/skilsIcon.png'}
    .pixelsTop
    .pixelsBottom
    %h2 skills
    .mystats_html
        .swatch
        HTML:
        %span lv
        %span.val 0
    .mystats_css
        .swatch
        CSS:
        %span lv
        %span.val 0
    .mystats_js
        .swatch
        JAVASCRIPT:
        %span lv
        %span.val 0
    .mystats_design
        .swatch
        DESIGN:
        %span lv
        %span.val 0
.research
.researchButton 
    .pixelsTop
    .pixelsBottom
    .researchButton_counter
        %span 0
        .pixelsTop
        .pixelsBottom
    Research
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/buttonArrow.png'}
.achievementsButton 
    .pixelsTop
    .pixelsBottom
    Achievments
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/buttonArrow.png'}
%a{:href => 'http://www.codepen.io/jcoulterdesign', :target => '_blank'}
    .followButton 
        .pixelsTop
        .pixelsBottom
        Follow me on codepen
.startMashing
    .auto.off
        
        auto
        %img.cross{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/autoCross.png'}
        %img.tick{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/autoTick.png'}
        .pixelsTop
        .pixelsBottom
    .pixelsTop
    .pixelsBottom
    %h2 
        %span Start pressing keys
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gKey.png'}
%canvas.grain