body{
  padding: 10px;
}

.organograma {
  /* width: 1200px; */
  margin: 0 auto;
  /* color: #7a7a7a; */
  line-height: 1.7;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  /* margin-left: -15px; */
  /* padding-right: 20px; */
  /* border: 2px #ffff00; */
  margin: 0 auto;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 100%;
  max-width: 100%;
  justify-content: space-around;
  max-height: calc(100% - 2px);
  margin-top: 2px;

}

.row-ext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 100%;
  max-width: 100%;
  justify-content: space-around;
  max-height: calc(100% - 2px);
  margin-top: 2px;
  padding-bottom: 30px;
}

div[class*="col"]{
  border: 2px solid #777aff;
  padding: 5px;
  text-align: center;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: calc(16.666667% - 2px);
  border-radius: 5px;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: calc(25% - 2px);
  border-radius: 5px;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  /* max-width: 33.333333%; */
  max-width: calc(33.333333% - 2px);
  border-radius: 5px;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: calc(50% - 2px);
  border-radius: 5px;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: calc(66.666667% - 2px);
  border-radius: 5px;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: calc(83.333333% - 2px);
  border-radius: 5px;
}

.col-2-ext {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  border-radius: 5px;
}
.col-3-ext {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  border-radius: 5px;
}
.col-4-ext {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  border-radius: 5px;
}
.col-6-ext {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: calc(50% - 5px);
  border-radius: 5px;
}
.col-12-ext {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 100%;
  max-width: 100%;
  border-radius: 5px;
}

.organograma .dashed {
  border: 2px dashed #ff6900;
  padding: 20px 0;
  text-align: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  
}

.organograma .dashed:before {
  content: attr(data-legend);
  position: absolute;
  background: white;
  top: -16px;
  left: 20px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 900;
  font-family: cursive;
}

.stretch {
	align-content: stretch;
}

.card-ok{
  background-color: chartreuse;
  border: double !important;
  border-color: black !important;
}
.card-danger{
  background-color: crimson;
  border: dashed !important;
  border-color: black !important;
  
}
.margemDireita{
  left: 5px;
}

.margemInterna{
  left: 2px;
}