@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0.5deg);
  }
}
@keyframes zoom {
  0% {
    opacity: 0.5;
    transform: scale(1.4);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    opacity: 0.5;
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  background: #eaeaee;
  font-size: 20px;
}

.disco {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10em;
  margin-top: -10em;
  width: 20em;
  height: 20em;
  background: radial-gradient(circle closest-side, black 35%, rgba(0, 0, 0, 0) 35.5%, rgba(0, 0, 0, 0) 96%, black 96.5%), radial-gradient(circle closest-side, rgba(0, 0, 0, 0) 41.2736708469%, rgba(0, 0, 0, 0.3) 41.4736708469%, rgba(0, 0, 0, 0.3) 42.4736708469%, rgba(0, 0, 0, 0) 42.6736708469%, rgba(0, 0, 0, 0) 49.5794008348%, rgba(0, 0, 0, 0.3) 49.7794008348%, rgba(0, 0, 0, 0.3) 50.7794008348%, rgba(0, 0, 0, 0) 50.9794008348%, rgba(0, 0, 0, 0) 60.1107388026%, rgba(0, 0, 0, 0.3) 60.3107388026%, rgba(0, 0, 0, 0.3) 61.3107388026%, rgba(0, 0, 0, 0) 61.5107388026%, rgba(0, 0, 0, 0) 69.6689836212%, rgba(0, 0, 0, 0.3) 69.8689836212%, rgba(0, 0, 0, 0.3) 70.8689836212%, rgba(0, 0, 0, 0) 71.0689836212%, rgba(0, 0, 0, 0) 76.9606113768%, rgba(0, 0, 0, 0.3) 77.1606113768%, rgba(0, 0, 0, 0.3) 78.1606113768%, rgba(0, 0, 0, 0) 78.3606113768%, rgba(0, 0, 0, 0) 88.3839174436%, rgba(0, 0, 0, 0.3) 88.5839174436%, rgba(0, 0, 0, 0.3) 89.5839174436%, rgba(0, 0, 0, 0) 89.7839174436%, rgba(0, 0, 0, 0) 96.0345168254%, rgba(0, 0, 0, 0.3) 96.2345168254%, rgba(0, 0, 0, 0.3) 97.2345168254%, rgba(0, 0, 0, 0) 97.4345168254%), conic-gradient(black 40deg, #eef 42deg, black 44deg, black 219deg, #eef 222deg, #eef 223deg, black 228deg), repeating-radial-gradient(rgba(0, 0, 0, 0.4956199498) 1.186440678px, rgba(0, 0, 0, 0.0274294851) 2.3728813559px, rgba(0, 0, 0, 0.3865327551) 3.5593220339px, rgba(0, 0, 0, 0.0592952558) 4.7457627119px, rgba(0, 0, 0, 0.4153941343) 5.9322033898px, rgba(0, 0, 0, 0.1040167628) 7.1186440678px, rgba(0, 0, 0, 0.363600249) 8.3050847458px, rgba(0, 0, 0, 0.1300050811) 9.4915254237px, rgba(0, 0, 0, 0.4000270933) 10.6779661017px, rgba(0, 0, 0, 0.0039281886) 11.8644067797px, rgba(0, 0, 0, 0.4842580161) 13.0508474576px, rgba(0, 0, 0, 0.0958894768) 14.2372881356px, rgba(0, 0, 0, 0.3889688811) 15.4237288136px, rgba(0, 0, 0, 0.015294527) 16.6101694915px, rgba(0, 0, 0, 0.4518919709) 17.7966101695px, rgba(0, 0, 0, 0.0292344387) 18.9830508475px, rgba(0, 0, 0, 0.4145769297) 20.1694915254px, rgba(0, 0, 0, 0.1185944094) 21.3559322034px, rgba(0, 0, 0, 0.4217721707) 22.5423728814px, rgba(0, 0, 0, 0.1242679797) 23.7288135593px, rgba(0, 0, 0, 0.4129113695) 24.9152542373px, rgba(0, 0, 0, 0.0172254989) 26.1016949153px, rgba(0, 0, 0, 0.4881383383) 27.2881355932px, rgba(0, 0, 0, 0.0247471742) 28.4745762712px, rgba(0, 0, 0, 0.3899306532) 29.6610169492px, rgba(0, 0, 0, 0.1262605621) 30.8474576271px, rgba(0, 0, 0, 0.3670237829) 32.0338983051px, rgba(0, 0, 0, 0.1256573119) 33.2203389831px, rgba(0, 0, 0, 0.4856329484) 34.406779661px, rgba(0, 0, 0, 0.1072998712) 35.593220339px, rgba(0, 0, 0, 0.3683776283) 36.7796610169px, rgba(0, 0, 0, 0.0232063135) 37.9661016949px, rgba(0, 0, 0, 0.4814000709) 39.1525423729px, rgba(0, 0, 0, 0.0790602252) 40.3389830508px, rgba(0, 0, 0, 0.3888806114) 41.5254237288px, rgba(0, 0, 0, 0.0735600941) 42.7118644068px, rgba(0, 0, 0, 0.4732104169) 43.8983050847px, rgba(0, 0, 0, 0.1307507066) 45.0847457627px, rgba(0, 0, 0, 0.4997203099) 46.2711864407px, rgba(0, 0, 0, 0.0676108072) 47.4576271186px, rgba(0, 0, 0, 0.4166223576) 48.6440677966px, rgba(0, 0, 0, 0.1315074467) 49.8305084746px, rgba(0, 0, 0, 0.4061556678) 51.0169491525px, rgba(0, 0, 0, 0.1247011208) 52.2033898305px, rgba(0, 0, 0, 0.3728575243) 53.3898305085px, rgba(0, 0, 0, 0.1071772126) 54.5762711864px, rgba(0, 0, 0, 0.4924840661) 55.7627118644px, rgba(0, 0, 0, 0.0528383628) 56.9491525424px, rgba(0, 0, 0, 0.4977120651) 58.1355932203px, rgba(0, 0, 0, 0.1285171306) 59.3220338983px, rgba(0, 0, 0, 0.3732724326) 60.5084745763px, rgba(0, 0, 0, 0.1352050717) 61.6949152542px, rgba(0, 0, 0, 0.4113635401) 62.8813559322px, rgba(0, 0, 0, 0.022900966) 64.0677966102px, rgba(0, 0, 0, 0.4956132948) 65.2542372881px, rgba(0, 0, 0, 0.0872332011) 66.4406779661px, rgba(0, 0, 0, 0.3579013943) 67.6271186441px, rgba(0, 0, 0, 0.0268125315) 68.813559322px, rgba(0, 0, 0, 0.3708862765) 70px), conic-gradient(rgba(255, 255, 255, 0) 80deg, rgba(255, 255, 255, 0.04) 90deg, rgba(255, 255, 255, 0) 95deg, rgba(255, 255, 255, 0) 260deg, rgba(255, 255, 255, 0.04) 270deg, rgba(255, 255, 255, 0) 285deg), conic-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.22) 20deg, rgba(255, 255, 255, 0.29) 40deg, rgba(255, 255, 255, 0) 70deg, rgba(255, 255, 255, 0) 180deg, rgba(255, 255, 255, 0.18) 200deg, rgba(255, 255, 255, 0.15) 210deg, rgba(255, 255, 255, 0) 250deg), black;
  background-blend-mode: normal,normal,color-dodge,normal,normal;
  animation: wiggle 30ms linear infinite alternate;
  border-radius: 100%;
  overflow: hidden;
}
.disco::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient(rgba(0, 0, 0, 0.4956199498) 1.186440678px, rgba(0, 0, 0, 0.0274294851) 2.3728813559px, rgba(0, 0, 0, 0.3865327551) 3.5593220339px, rgba(0, 0, 0, 0.0592952558) 4.7457627119px, rgba(0, 0, 0, 0.4153941343) 5.9322033898px, rgba(0, 0, 0, 0.1040167628) 7.1186440678px, rgba(0, 0, 0, 0.363600249) 8.3050847458px, rgba(0, 0, 0, 0.1300050811) 9.4915254237px, rgba(0, 0, 0, 0.4000270933) 10.6779661017px, rgba(0, 0, 0, 0.0039281886) 11.8644067797px, rgba(0, 0, 0, 0.4842580161) 13.0508474576px, rgba(0, 0, 0, 0.0958894768) 14.2372881356px, rgba(0, 0, 0, 0.3889688811) 15.4237288136px, rgba(0, 0, 0, 0.015294527) 16.6101694915px, rgba(0, 0, 0, 0.4518919709) 17.7966101695px, rgba(0, 0, 0, 0.0292344387) 18.9830508475px, rgba(0, 0, 0, 0.4145769297) 20.1694915254px, rgba(0, 0, 0, 0.1185944094) 21.3559322034px, rgba(0, 0, 0, 0.4217721707) 22.5423728814px, rgba(0, 0, 0, 0.1242679797) 23.7288135593px, rgba(0, 0, 0, 0.4129113695) 24.9152542373px, rgba(0, 0, 0, 0.0172254989) 26.1016949153px, rgba(0, 0, 0, 0.4881383383) 27.2881355932px, rgba(0, 0, 0, 0.0247471742) 28.4745762712px, rgba(0, 0, 0, 0.3899306532) 29.6610169492px, rgba(0, 0, 0, 0.1262605621) 30.8474576271px, rgba(0, 0, 0, 0.3670237829) 32.0338983051px, rgba(0, 0, 0, 0.1256573119) 33.2203389831px, rgba(0, 0, 0, 0.4856329484) 34.406779661px, rgba(0, 0, 0, 0.1072998712) 35.593220339px, rgba(0, 0, 0, 0.3683776283) 36.7796610169px, rgba(0, 0, 0, 0.0232063135) 37.9661016949px, rgba(0, 0, 0, 0.4814000709) 39.1525423729px, rgba(0, 0, 0, 0.0790602252) 40.3389830508px, rgba(0, 0, 0, 0.3888806114) 41.5254237288px, rgba(0, 0, 0, 0.0735600941) 42.7118644068px, rgba(0, 0, 0, 0.4732104169) 43.8983050847px, rgba(0, 0, 0, 0.1307507066) 45.0847457627px, rgba(0, 0, 0, 0.4997203099) 46.2711864407px, rgba(0, 0, 0, 0.0676108072) 47.4576271186px, rgba(0, 0, 0, 0.4166223576) 48.6440677966px, rgba(0, 0, 0, 0.1315074467) 49.8305084746px, rgba(0, 0, 0, 0.4061556678) 51.0169491525px, rgba(0, 0, 0, 0.1247011208) 52.2033898305px, rgba(0, 0, 0, 0.3728575243) 53.3898305085px, rgba(0, 0, 0, 0.1071772126) 54.5762711864px, rgba(0, 0, 0, 0.4924840661) 55.7627118644px, rgba(0, 0, 0, 0.0528383628) 56.9491525424px, rgba(0, 0, 0, 0.4977120651) 58.1355932203px, rgba(0, 0, 0, 0.1285171306) 59.3220338983px, rgba(0, 0, 0, 0.3732724326) 60.5084745763px, rgba(0, 0, 0, 0.1352050717) 61.6949152542px, rgba(0, 0, 0, 0.4113635401) 62.8813559322px, rgba(0, 0, 0, 0.022900966) 64.0677966102px, rgba(0, 0, 0, 0.4956132948) 65.2542372881px, rgba(0, 0, 0, 0.0872332011) 66.4406779661px, rgba(0, 0, 0, 0.3579013943) 67.6271186441px, rgba(0, 0, 0, 0.0268125315) 68.813559322px, rgba(0, 0, 0, 0.3708862765) 70px);
  border-radius: 100%;
  animation: zoom 1.7910447761s linear infinite;
}
.disco::after {
  content: "HEY";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  height: 30%;
  margin-left: -15%;
  margin-top: -15%;
  border-radius: 100%;
  color: #dde;
  text-align: center;
  line-height: 3em;
  font-weight: bold;
  background: radial-gradient(circle closest-side, #eaeaee 8%, rgba(234, 234, 238, 0) 9%, transparent 85%, #dde 85%, #dde 90%, transparent 90%), conic-gradient(#4d4391 25%, #cf4b91 0 50%, #4d4391 0 75%, #cf4b91 0);
  background-size: 100%, 3em 3em;
  animation: spin 1.7910447761s linear infinite;
}
