#wrapper {
  border: 2px solid blue;
  height: 500px;
  overflow: auto;
}
.block {
  width: 200px;
  height: 100px;
  background: #ccc;
  margin-bottom: 5px;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
}

.block:last-child {
  margin-bottom: 0;
}