.message 
  | Made by 
  a(href='https://codepen.io/pieter-biesemans/' target='_blank' title='check out my other work') Pieter Biesemans 
  | with &#9749;, &#128420; &amp; &#8986;

.wrapper
  - for (var x = 1; x < 11; x++)
    div(class= 'item' + x)