.wrapper
  .img
    img(src="https://www.footyrenders.com/render/Neymar-45.png" class="drop-shadow")
  .img.img-relative
    img(src="https://www.footyrenders.com/render/Neymar-45.png")
    img(src="https://www.footyrenders.com/render/Neymar-45.png" class="blur-shadow shadow-absolute")