html{
cursor:none;
paddin:0;
margin:0;
overflow: hidden;
}
iframe{
position:absolute;
left:-50%;
top:-50%;
height:200%;
width:200%;
-webkit-filter:sepia(100%) hue-rotate(150deg);
-webkit-animation:mapa 20s infinite ease-out;
-moz-animation:mapa 20s infinite ease-out;
-ms-animation:mapa 20s infinite ease-out;
-o-animation:mapa 20s infinite ease-out;
animation:mapa 20s infinite ease-out;
}
.back{
position:absolute;
left:0;
top:0;
height:100%;
width:100%;
background:-webkit-radial-gradient(50% 50%, cover, rgba(0,0,0, 0), rgba(0,0,0, 0), rgba(0,0,0, .7), rgba(0,0,0, 1));
-moz-background-size:cover;
background-size:cover;
z-index:1;
}
.back:before{
content:"";
left:0;
top:0;
position:absolute;
height:100%;
width:100%;
background-image:linear-gradient(rgba(0,0,0,0) 3px, rgba(0,0,0,.3) 3px);
-webkit-background-size:1px 6px;
-moz-background-size:1px 6px;
-o-background-size:1px 6px;
background-size:1px 6px;
}
#spy{
position:absolute;
height:200px;
width:200px;
-webkit-border-radius:100%;
-moz-border-radius:100%;
border-radius:100%;
-webkit-filter:invert(1) drop-shadow(5px 5px 20px black);
background:url(http://upload.wikimedia.org/wikipedia/commons/f/ff/Rangefinder_reticle_08a.svg) center;
-webkit-background-size:300px;
-moz-background-size:300px;
-o-background-size:300px;
background-size:300px;
border:5px solid red;
z-index:2;
-webkit-box-shadow:10px 10px 100px 5px rgba(0,0,0,1) inset,0px 0px 20px 10px rgba(255,255,255,.5);
-moz-box-shadow:10px 10px 100px 5px rgba(0,0,0,1) inset,0px 0px 20px 10px rgba(255,255,255,.5);
box-shadow:10px 10px 100px 5px rgba(0,0,0,1) inset,0px 0px 20px 10px rgba(255,255,255,.5);
}
#spy:after{
content:"";
top:0px;
left:0px;
position:absolute;
width:200px;
height:200px;
-webkit-border-radius:100%;
-moz-border-radius:100%;
border-radius:100%;
-webkit-box-shadow:0px 0px 40px 20px rgba(255,255,255,1) inset;
-moz-box-shadow:0px 0px 40px 20px rgba(255,255,255,1) inset;
box-shadow:0px 0px 40px 20px rgba(255,255,255,1) inset;
}
.ring{
position:absolute;
top:-4px;
left:-4px;
height:204px;
width:204px;
-webkit-border-radius:100%;
-moz-border-radius:100%;
border-radius:100%;
border:2px solid red;
-webkit-animation:ani 2s infinite ease-out;
-moz-animation:ani 2s infinite ease-out;
-ms-animation:ani 2s infinite ease-out;
-o-animation:ani 2s infinite ease-out;
animation:ani 2s infinite ease-out;
}
@-webkit-keyframes ani{
0% {opacity:1; transform: scale(1);}
100% {opacity:0; transform: scale(1.5);}
}
@-webkit-keyframes mapa{
0% {transform: scale(1) rotate(0deg);}
50% {transform: scale(1.1) rotate(5deg);}
0% {transform: scale(1) rotate(0deg);}
}
#spy:active{
-webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
-ms-transform:scale(1.2);
-o-transform:scale(1.2);
transform:scale(1.2);
}
#compass{
position:absolute;
bottom:50px;
left:50%;
margin-left:-150px;
background:url("http://www.clker.com/cliparts/e/1/e/f/12078862622125082831ipurush_Compass.svg") center no-repeat;
-webkit-background-size:300px;
-moz-background-size:300px;
-o-background-size:300px;
background-size:300px;
-webkit-filter:invert(1) drop-shadow(5px 5px 20px black);
z-index:1;
width:300px;
height:300px;
-webkit-animation:mapa 20s infinite ease-out;
-moz-animation:mapa 20s infinite ease-out;
-ms-animation:mapa 20s infinite ease-out;
-o-animation:mapa 20s infinite ease-out;
animation:mapa 20s infinite ease-out;
}
