body {
  font-family: Helvetica, Arial, "sans-serif";
}

main {
  background-color: #ccc;
  margin: 10px auto;
  max-width: 800px;
  padding: 25px;
  box-sizing: border-box;
}
main h1 {
  font-size: 1.5em;
}
main h1, main p {
  margin-bottom: 0.5em;
}
main .container {
  margin-top: 20px;
  display: flex;
  width: 80%;
  margin: 30px auto;
}
main .mouse {
  width: 120px;
  height: 150px;
  background-color: #a00;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
main .mouse::before, main .mouse::after {
  content: ' ';
  display: block;
  width: 49%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
}
main .mouse::after {
  left: auto;
  right: 0;
}
main .mouse.left::before {
  opacity: 0.1;
}
main .mouse.right::after {
  opacity: 0.1;
}
main .mouse .middle {
  position: absolute;
  height: 25%;
  background-color: #000;
  opacity: 0.5;
  width: 1em;
  left: 50%;
  top: 15%;
  border-radius: 5px;
  margin-left: -0.5em;
}
main .mouse.middle .middle {
  opacity: 0.7;
}
main .log {
  background-color: #222;
  width: 60%;
  margin-left: auto;
  color: #ccc;
  padding: 10px;
  box-sizing: border-box;
  font: menu;
  font-size: 1em;
  position: relative;
}
main .log .logger {
  height: 10em;
  overflow: auto;
}
main .log button {
  position: absolute;
  top: 10px;
  right: 35px;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  z-index: 2;
}
main .log button:hover {
  opacity: 0.8;
}
