table {
  border-collapse: collapse;
}
td, th {
  border: 2px solid #999;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-align: center;
}

// .schedule {
//   td {
//     text-align: ":";
//   }
// }

.table-wrap {
  overflow-x: auto;
}