div
div
    div
        .rocket
            .fuselage
                - for (var i = 0; i < 10; ++i)
                    div
                        - for (var j = 0; j < 16; ++j)
                            div
                div
                    - for (var i = 0; i < 8; ++i)
                        div
            .fins
                - for (var i = 0; i < 4; ++i)
                    div
                        - for (var j = 0; j < 2; ++j)
                            div
                                - for (var k = 0; k < 3; ++k)
                                    div
                        div
            .engines
                - for (var i = 0; i < 5; ++i)
                    div
                        - for (var j = 0; j < 2; ++j)
                            div
                                - for (var k = 0; k < 16; ++k)
                                    div
                        div
                            - for (var j = 0; j < 8; ++j)
                                div
                        div
                            div
                                - for (var j = 0; j < 16; ++j)
                                    div
                            - for (var j = 0; j < 2; ++j)
                                div
                                    - for (var k = 0; k < 10; ++k)
                                        div
                            div
                                - for (var j = 0; j < 8; ++j)
                                    div